
* {
    box-sizing: border-box;
}

h2 {
    color: red;
    text-align: center;
}

body {
    background-color: lightyellow;
}

img {
    display: block;
    margin: 0 ;
}

.text {
    font-style: italic;
}

.head {
    text-align: left;
    color: black;
}

#begin {
    color: deepskyblue;
    font-size: 150%;
    text-align: center;
}

.box {
    width: 300px;
    height: 300px;
    background-color: green;
    padding: 20px;
    margin: 50px;
    border-color: black;
    border-width: 3px;
    border-style: solid;
}

.example {
    display: flex;
    background-color: #aeaeae;
}

.red {
    background-color: red
}

/* 
Виды элементов

Блочные    display: block
Строчные   display: inline
Блочно-строчные  display: inline-block
*/